/* Body */
/* Body */
body{
  background-color: rgb(255, 255, 255);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media(max-width: 991px){
  .sidebar{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
  }
}

/* Header */
h1{
  color: rgba(90, 190, 40, 1);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: e1e1e1 !important;
}

.fs-4 {
  color: rgb(74, 139, 41);
}